body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background: linear-gradient(90deg, #0066ff, #33ccff);
    color: white;
    padding: 1rem 2rem;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.container {
    max-width: 1200px; /* Adjust the max-width as needed */
    margin: 0 auto;
    padding: 0 20px; /* Optional padding */
}

section {
    padding: 2rem;
    text-align: center;
}

.about-heading {
    font-size: 2em; /* Adjust the font size as needed */
}

.product-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-images div {
    flex: 1 1 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.product-images img {
    max-width: 100%;
    height: auto;
}

.product-images p {
    text-align: center;
}

.product-images .header {
    font-weight: bold;
    font-style: italic;
}

.header {
    font-style: italic;
    font-size: 1.5em;
}

.product-images .container {
    border: 12px solid #0066ff;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 10px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form label,
form input,
form textarea,
form button {
    margin: 0.5rem 0;
    width: 80%;
}

form input,
form textarea {
    padding: 0.5rem;
}

form button {
    padding: 0.5rem 1rem;
    background: #0066ff;
    color: white;
    border: none;
    cursor: pointer;
}

footer {
    background: #333;
    color: white;
    text-align: center;
    padding: 1rem 0;
}

.social-media a {
    color: white;
    margin: 0 1rem;
    text-decoration: none;
}

.social-media a:hover {
    color: #33ccff;
}

@media (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .product-images {
        flex-direction: column;
    }

    .product-images div {
        flex: 1 1 100%;
        margin: 10px 0;
    }
}
